name: CI

env:
  PROJECT_NAME: point_cloud_segmentation
  BUILD_DIR:    docker-env

on:
  push: 
    branches: master
  pull_request:
    branches: master

jobs:
 
  codeStyles:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: Python Style Checker
      uses: andymckay/pycodestyle-action@0.1.3
      env:  
        PRECOMMAND_MESSAGE: Vaba Laba Dab Dab!
  
    - name: CodeStyle VK Notify
      uses: alphamusic/VK-Notifications@1.0.2
      env: 
         VK_USERS :  ${{ secrets.VK_ME }},  ${{ secrets.VK_POLINA }},  ${{ secrets.VK_ILYA }}
         VK_MESSAGE: Hi! The code style cheker is passed for ${{ github.actor}} on  ${{ github.event_name }}
         VK_TOKEN: ${{ secrets.VK_TOKEN }}   
    
  build:
    runs-on: ubuntu-latest
    needs: codeStyles
    
    steps:
      - uses: actions/checkout@v2
        
      - name: Docker version
        run: docker -v
      
      - name: Docker build
        run: |
              docker build -t ${{ secrets.DOCKER_LOGIN }}/${{ secrets.DOCKER_NAME }}:ver_$GITHUB_RUN_NUMBER $BUILD_DIR
              docker images 
         
      - name: DockerBuild VK Notify
        uses: alphamusic/VK-Notifications@1.0.2
        env: 
          VK_USERS :   ${{ secrets.VK_ME }},  ${{ secrets.VK_POLINA }},  ${{ secrets.VK_ILYA }}
          VK_MESSAGE: And... docker build by ${{ github.actor}} is successfuly passed!
          VK_TOKEN: ${{ secrets.VK_TOKEN }}   
      
      - name: Docker Upload
        run: |
             docker login --username=${{ secrets.DOCKER_LOGIN }} --password=${{ secrets.DOCKER_PASSWORD}}
             docker push ${{ secrets.DOCKER_LOGIN }}/${{ secrets.DOCKER_NAME }}:ver_$GITHUB_RUN_NUMBER
             
      - name: Docker Push VK Notify
        uses: alphamusic/VK-Notifications@1.0.2
        env: 
          VK_USERS :   ${{ secrets.VK_ME }},  ${{ secrets.VK_POLINA }},  ${{ secrets.VK_ILYA }}
          VK_MESSAGE: Finally, docker build ${{ github.ref}} by ${{ github.actor }} uploaded to docker hub! Hell yeah!
          VK_TOKEN: ${{ secrets.VK_TOKEN }}   
